<% if users.any? %>
  <ul class="list-unstyled ">
    <% users.each do |user| %>
      <li class="media media-left media-middle mt-2">
        <img class=" mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body">
            <%= user.name %>
              <ul class="list-inline mt-0">
                <li class="list-inline-item"><%= link_to 'View profile', user_path(user) %></li>
                <li class="list-inline-item"><%= link_to user.name+'´s Likes', likes_user_path(user)%></li>
              </ul>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>